.elemento {
    background-color: aqua;
    width: 20vh;
    height: 20hv;
    color: white;
    text-align: center;
    line-height: 200px;
    /*definir la animacion en duracion*/
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.elemento:hover{
    /*primer ejemplo- anima todas las propiedades que cambien de estado*/
    width: 30vh;
    height: 30vh;
    background-color: black
}

