body {
    margin: 0;
}


.imgs {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img3 {
    image-rendering: pixelated;
    position: relative;
    margin: 0;
    position: relative;
    width: 20vw;
    height: 20vw;
    background-size: cover;
    bottom: 67vw;
    animation: movimiento 0.8s steps(6) infinite;
}

@keyframes movimiento{
    from{
        background-position: 0px;
    }
    to{
        background-position: -800px;
    }
}
