* {
    font-family: "Inter";
}

.img1 {
    position: absolute;
    width: 100%;
    height: 300%;
    left: 0;
    top: 0px;
}

.img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.img3 {
    position: absolute;
    top: 120px;
    left: 499px;
    width: 370px;
    height: 210px;
}

.img4 {
    position: absolute;
    top: 30px;
    left: 47px;
    width: 20px;
    height: 20px;
}

.login {
    position: absolute;
    right: 25px;
    background-color: white;
    border-radius: 20px;
    z-index: 2;
    width: 115px;
    padding: 4px;
    top: 30px;
}

.titulo {
    color: white;
    position: absolute;
    top: 45%;
    left: 27%;
    font-size: 34px;
}

.texto-1 {
    color: white;
    position: absolute;
    top: 57%;
    left: 27%;
    width: 630px;
    text-align: center;
}

.Sign-Up {
    position: absolute;
    right: 40%;
    background-color: white;
    border-radius: 30px;
    z-index: 2;
    width: 250px;
    padding: 15px;
    top: 75%;
    font-size: 20px;
}

.cuadrado-1-azul {
    position: absolute;
    width: 94%;
    height: 60%;
    background-color: rgb(54, 170, 211);
    z-index: 2;
    top: 105%;
    border-radius: 55px;
    left: 3%;
}



.titulo-2 {
    color: white;
    position: absolute;
    top: 108%;
    left: 27%;
    font-size: 34px;
    z-index: 2;
}

.img-tv {
    position: absolute;
    z-index: 2;
    top: 120%;
    width: 13%;
    height: 28%;
    right: 45%;
}

.texto-2 {
    color: white;
    position: absolute;
    top: 142%;
    left: 15%;
    font-size: 30px;
    z-index: 2;
}

.cuadrado-2-azul {
    position: absolute;
    width: 94%;
    height: 87%;
    background-color: rgb(54, 170, 211);
    z-index: 2;
    top: 170%;
    border-radius: 55px;
    left: 3%;
}

.titulo-3 {
    color: white;
    position: absolute;
    top: 170%;
    left: 9%;
    font-size: 43px;
    z-index: 2;
}

.pelicula-1 {
    position: absolute;
    z-index: 2;
    top: 192%;
    width: 120px;
    left: 25%;
}

.pelicula-2 {
    position: absolute;
    z-index: 2;
    top: 192%;
    width: 120px;
    left: 470px;
}

.pelicula-3 {
    position: absolute;
    z-index: 2;
    top: 192%;
    width: 120px;
    left: 598px;
}

.pelicula-4 {
    position: absolute;
    z-index: 2;
    top: 192%;
    width: 120px;
    left: 726px;
}

.pelicula-5 {
    position: absolute;
    z-index: 2;
    top: 192%;
    width: 120px;
    left: 854px;
}

.texto-3 {
    color: white;
    position: absolute;
    top: 225%;
    left: 22%;
    font-size: 25px;
    z-index: 2;
}